<div class="padding-20">
    <form id="comment-form" class="padding-20">
        <label for="post-table">Post-Title</label>
        <input for="text" name="post-title" id="post-title" required>

        <label for="post-text">Post Body</label>
        <textarea name="post-text" id="post-text" required></textarea>

        <button type="submit" id="create-post-btn">Post</button>
    </form>
</div>

<script src="/js/create-post.js"></script>